
@{
    ViewBag.Title = "Index";
}

<h2>Topics in @ViewBag.Category.Title</h2>
<br />

<h1>@ViewBag.message</h1>
<br />

<a href="/Categories/Index/">Show categories</a>
<br />
@if (User.IsInRole("Admin") || User.IsInRole("Moderator") || User.IsInRole("User"))
{
    <a href="/Topics/New/@ViewBag.Category.CategoryId">Add topic</a>
}

<br />

@foreach (var topic in ViewBag.Topics)
{
    <div class="panel panel-default">
        <div class="panel-heading">@topic.Title</div>
        <div class="panel-body">
            Topic description:
            
            <br/>
            <strong style="white-space: pre-line;">@topic.Content</strong>
            <br />

            <br/>
            <span class="label label-success">@topic.Date</span>
            <br />
            <i class="glyphicon glyphicon-user"></i> <i>created by</i> <strong> @topic.User.UserName </strong>
            <br />
        </div>
        <div class="panel panel-footer">
            <a class="btn btn-success btn btn-sm" href="/Topics/Show/@topic.TopicId">View topic</a>
        </div>
    </div>
}