@model Proiect_Forum_Users.Models.ApplicationUser
@using Microsoft.AspNet.Identity

@{
    /**/

    ViewBag.Title = "Edit profile";
}

<ol class="breadcrumb">
    <li><h3>@ViewBag.Title</h3></li>
</ol>

@using (Html.BeginForm(actionName: "Edit", controllerName: "Users", routeValues: new { id = @Model.Id }))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)
    <br />
    <i class="glyphicon glyphicon-user"></i>
    @Html.Label("UserName", "User name", new { @class = "" })
    <br />
    @Html.EditorFor(m => m.UserName)
    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
    <br /><br />
    <i class="glyphicon glyphicon-envelope"></i> @Html.Label("Email", "Email", new { @class = "" })
    <br />
    @Html.EditorFor(m => m.Email)
    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
    <br /><br />
    <i class="glyphicon glyphicon-phone"></i> @Html.Label("PhoneNumber", "Phone number")
    <br />
    @Html.EditorFor(m => m.PhoneNumber)
    <br /><br />

    if (User.IsInRole("Admin"))
    {
        <i class="glyphicon glyphicon-th-list"></i>
        <label>Select role</label> @Html.DropDownList("newRole", new SelectList(Model.AllRoles, "Value", "Text", ViewBag.userRole), null, new { @class = "form-control" })
        <br />
    }
    else
    {
        <div>
            <b>Role: @ViewBag.roleName</b>
        </div>
        <br />
    }
    <button class="btn btn-sm btn-success" type="submit">Change profile</button>
}